body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: url('recursos/img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;

}

.login-container{
    background: rgb(65, 65, 65);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgb(0, 0, 0);
    text-align: center;
    max-height: 240px;
    backdrop-filter: blur(5px);
}

h2{
    margin-bottom: 8px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-colr 0.3s, transform 0.2s;
}

button:hover {
    background-color: aquamarine;
    transform: scale(1.05);
    color: #000;
}

button:active {
    background-color: blue;
}